@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-row-center {
    @include flex-row;
    justify-content: center;
    align-items: center;
}

@mixin flex-row-between-center {
    @include flex-row;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-col {
    display: flex;
    flex-direction: column;
}
